body {
    margin: 2rem;
    background-color: rgb(182, 211, 238);
}

// Aquí va el header

@import "_header.scss";

footer {
    p {
        color: brown;
    }
    address {
        p {
            margin-top: 0;
            margin-bottom: 0;
            color: blueviolet;
        }
        >p {
            color: aquamarine
        }
    }
}