@mixin pepe ($tipo:full) {
    @if ($tipo==full) {
        margin: 0;
        padding: 0;
    } @else if ($tipo==vert) {
        padding-top : 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
    
* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Francois+One');

body {
    @include pepe();
    font-family: 'EB Garamond', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Francois One', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    div {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url(../assets/home-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: darkgrey;
            opacity: 0.7;
        }
    }
    h1 {
        position: relative;
        clear: both;
        text-align: center;
        @include pepe(vert);
        color:white;
        line-height: 100vh;
        font-size: 3rem;
    }
}

nav {
    position: fixed;
    z-index: 10;
    right: 0;
    background-color: bisque;
    ul {
        list-style: none;
        padding: 0;
        ul {
            display: none;
        }
        li:hover>ul {
            display: block;
        }
    }  
    a {
        color: inherit;
        text-decoration: none;
        padding: 0.2rem 2rem;
        display: block;
    }
    a:hover {
        color: aliceblue;
        background-color: brown;
    }
    >ul{
        >li {
            display: inline-block;
            position: relative;
            &:hover>ul {
                position: absolute;
                top: 2.3rem;
                left: 1rem;
            }
            >a {
                padding: 1rem 2rem;
                display: inline;
            }
            >ul>li:hover ul {
                position: absolute;
                top: 0rem;
                left: 6rem;
            }
        }
    }
}

main {
    overflow: auto;
    margin-left: 10%;
    margin-right: 10%;
}

section {
    width: 75%;
    float: left;
    padding-right: 2rem;
    h2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    div {
        float: left;
        column-count: 2;
        column-gap: 3rem;
        column-rule: 1px solid;
        padding-left: 1rem;
        padding-right: 1rem;
        p:nth-of-type(1) {
            margin-top: 0;
        }
    }
}

aside {
    width: 25%;
    float: left;
    padding-left: 2rem;
}

footer {
    margin-top: 3rem;
    border-top: 1px solid;
    text-align: center;
    padding-top: 0.8rem;
    position: fixed;
    bottom: 0;
    p {
        margin-top: 0;
    }
}