@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0
}

.logo {
    width: 50px;
    margin-left: 0.7rem;
    margin-bottom: -0.2rem
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-size: 2rem
}

.clear {
    clear: both;
}

nav {
    background-color: brown
}

nav ul {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 20px 0;
    border-right: 1px solid white;
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 20px 70px;
}

li:nth-child(1) {
    border-left: 1px solid white
}

li a:hover {
    background-color: bisque;
    color: black
}

main {
    width: 80%;
    box-shadow: 0px 0px 26px 0px rgba(133,128,133,1);
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

main.about {
    height: -webkit-fill-available;
}

aside {
    float: right;
    width: 30%
}

aside img {
    width: 100%;
}

article {
    padding: 10px;
    width: 65%
}

article img {
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    float: left;
}

.imagen_cabecera {
    width: 100%;
}

.imagenesArticle1 {
    transform: rotate(-1deg);
    border: 4px solid white;
    box-shadow: 0px 0px 26px 0px rgba(133,128,133,1);
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: bisque
}

.imagenesArticle {
    transform: rotate(1deg);
    border: 4px solid white;
    box-shadow: 0px 0px 26px 0px rgba(133,128,133,1);
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

table {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem
}

th {
    background-color: brown;
    color: white;
    padding: 1rem;
}

tr:nth-child(even) {
    background-color: bisque
}

tr:nth-child(odd) {
    background-color:aqua
}

thead th:nth-child(1) {
    background-color: white
}

tr, th {
    text-align: center
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 1rem;
}