body {
    font-family: 'Roboto', sans-serif;
    padding-top: 18vh;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style:none;
}

header {
    display: flex;
    height: 18vh;
    width: 100%;
    background-image: url(../assets/madrid.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 18vh;
        background-color: gainsboro;
        opacity: 0.8;
    }
    h1 {
        font-family: 'Neucha', cursive;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 3rem;
        color: brown;
        z-index: 20;
        .subtituloh1 {
            color: whitesmoke;
            font-size: 1.5rem;
        }
    }
    nav.menu-general {
        display:none;
    }
    nav.menu-cabecera-movil {
        font-size: 1.5rem;
        z-index: 20;
        a {
            color: brown;
        }
    }
}

footer {
    background-color: antiquewhite;
    text-align: center;
    .hcard {
        display: none;
    }
    p:nth-child(even){
        margin-bottom: 0;
    }
}

main {
    figure {
        width: 100%;
        height: 20rem;
        background-color: gainsboro;
    }
}