$color_main: bisque;
$color_back: maroon;

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    background-color: $color_main;
    color: $color_back;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: 'Lobster', cursive;
        font-size: 1.5rem;
    }
    nav {
        font-size: 1.5rem;
    }
}

nav {
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

nav.menu-mobile, nav.menu-desk {
    background-color: $color_back;
    color: $color_main;
    a {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        display: block;
        &:hover {
            background-color: $color_main;
            color: $color_back;
        }
    }
}

nav.hide-menu {
    display: none;
}

nav.menu-desk {
    .submenu {
        display: none;
        text-align: center;
    }
    a {
        padding: 0.5rem 1rem;
        display: block;
        &:hover {
            background-color: $color_main;
            color: $color_back;
        }
    }
}

footer {
    text-align: center;
    border-top: 1px solid;
    margin-top: 2rem;
    padding-top: 1rem;
    p {
        margin-top: 0;
    }
}

@media screen and (min-device-width:480px) {
    body {
        padding: 2rem;
        h1 {
            font-size: 2.5rem;
        }
        section {
            background-color: aqua;
            padding: 2rem;
        }
        aside {
            background-color:cadetblue;
            padding: 2rem;
            color: white;
        }
    }
    nav.menu-desk {    
        display: block;
        ul {
            display: flex;
            padding: 0 !important;
        }
        .submenu {
            display: none;
            text-align: center;
        }
        a {
            padding: 0.5rem 1rem;
            display: block;
            &:hover {
                background-color: $color_main;
                color: $color_back;
            }
        }
}

@media screen and (min-width:620px) {
    header {
        h1 {
            text-align: center;
            font-size: 3rem;
        }
        nav {
            display: none;
        }
    }
    nav.menu-mobile {
        display: none;
    }
    nav.menu-desk {
        ul {
            padding: 0;
        }
    }
    .wrapper {
        display: flex;
        section {
            flex: 0 1 75%;
        }
        aside {
            flex: 0 1 25%;
        }
    }
}

@media screen and (min-width:820px) {
    .wrapper_parrafos {
        columns: 2;
        column-gap: 4rem;
        p:nth-of-type(1) {
            margin-top: 0;
        }
    }
}