* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

p {
    width: 25%;
    display: flex;
    background-color: bisque;
    margin-right: -4px;
    border: 1px solid;
    vertical-align:middle;
    float: left;
}