*, *:after, *:befor, *::after, *::before {
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@font-face {
    font-family: 'Indie';
    src: url('../fonts/IndieFlower.ttf') format('truetype')
}

body {
    background-color: aqua
}

h1 {
    font-family: 'Indie', cursiva;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    font-family: Roboto, sans-serif;
}